@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

h1{
  font-size: clamp(2rem, 1.273rem + 3.636vw, 4rem);
}

h2{
  border-radius: 9999px;
  background-color: #2D3A42;
  font-size: clamp(1.5rem, 0.955rem + 2.727vw, 3rem);
  padding-top: 20px;
}

h3{
  border-radius: 9999px;
  background-color: #2D3A42;
  font-size: clamp(1.25rem, 0.795rem + 2.273vw, 2.5rem);
  padding-top: 20px;
  padding-bottom: 20px;
  color: #E371A9;
}

@media (min-width: 768px){
  h3{
    padding: 30px 0;
  }
}

@media (min-width: 1200px){
  h3{
    padding: 50px 0;
  }
}

p{
  border-radius: 9999px;
  background-color: #2D3A42;
  font-size: clamp(1rem, 0.636rem + 1.818vw, 2rem);
  padding: 20px 0;
}

@media (min-width: 768px){
  p{
    padding: 30px 0;
  }
}

@media (min-width: 1200px){
  p{
    padding: 50px 0;
  }
}

input, label, legend, h4{
  font-size: clamp(0.75rem, 0.659rem + 0.455vw, 1rem);
}

body{
  font-family: 'Inter', serif;
  background-image: url('../img/pattern.jpg');
  background-size: cover;
  font-size: clamp(1rem, 0.636rem + 1.818vw, 2rem);
  color: #F1F2F3;
}

main{
  padding: 0 max(15px, calc((100vw - 1170px)/2));
}

header{
  padding: 0 max(15px, calc((100vw - 1170px)/2));
  background-color: #2D3A42;
}

footer{
  padding: 0 max(15px, calc((100vw - 1170px)/2));
  background-color: #2D3A42;
}

svg{
  fill: currentColor;
}

.aboutItem{
  grid-column: 1 / -1;
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.aboutItem:nth-child(even) > h3{
  grid-column: -1 / -3;
  text-align: end;
}

.aboutItem:nth-child(even) > svg{
  grid-column: -1 / -2;
  margin-left: auto;
}

@media (min-width: 768px){
  .aboutItem:nth-child(even) > svg{
    grid-column: 1 / 2;
  }
}

.aboutItem:nth-child(even) > p{
  grid-column: -1 / -4;
  text-align: end;
}

@media (min-width: 768px){
  .aboutItem:nth-child(even) > p{
    grid-column: 2 / span 2;
  }
}

.link{
  padding: 20px 0;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: clamp(1rem, 0.477rem + 1.364vw, 1.5rem);
}

.link > a{
  transition: 300ms;
}

@media (min-width: 768px){
  .link{
    padding: 30px 0;
  }
}

@media (min-width: 1200px){
  .link > a:hover{
    color: #E371A9;
  }

  .link > a:active{
    transition: 300ms;
    color: #F1F2F3;
  }
}

.btn{
  font-size: clamp(0.875rem, 0.648rem + 1.136vw, 1.5rem);
  padding: 15px 30px;
  border: 1px;
  border-color: #F1F2F3;
  border-style: solid;
  border-radius: 5px;
  color: #E371A9;
  transition: 300ms;
  background-color: #2D3A42;
}

.btn:hover{
  color: #2D3A42;
  background-color: #F1F2F3;
  box-shadow: 0 5px 0 0 #B8B8B8;
}

.btn:active{
  transition: 0s;
  color: #E371A9;
}

@media (min-width: 768px){
  .btn{
    padding: 20px 40px;
  }
}

@media (min-width: 1200px){
  .btn{
    padding: 25px 50px;
  }
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.inset-0{
  inset: 0px;
}

.left-0{
  left: 0px;
}

.left-\[calc\(50\%-\(185px\/2\)\)\]{
  left: calc(50% - (185px / 2));
}

.right-0{
  right: 0px;
}

.top-30{
  top: 30px;
}

.top-0{
  top: 0px;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 20;
}

.z-50{
  z-index: 50;
}

.z-\[100\]{
  z-index: 100;
}

.order-1{
  order: 1;
}

.col-span-1{
  grid-column: span 1 / span 1;
}

.col-span-2{
  grid-column: span 2 / span 2;
}

.col-span-3{
  grid-column: span 3 / span 3;
}

.col-span-full{
  grid-column: 1 / -1;
}

.col-span-4{
  grid-column: span 4 / span 4;
}

.col-start-1{
  grid-column-start: 1;
}

.col-start-4{
  grid-column-start: 4;
}

.m-auto{
  margin: auto;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-80{
  margin-top: 80px;
  margin-bottom: 80px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-25{
  margin-bottom: 25px;
}

.mb-5{
  margin-bottom: 5px;
}

.mt-20{
  margin-top: 20px;
}

.mt-30{
  margin-top: 30px;
}

.block{
  display: block;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.\!hidden{
  display: none !important;
}

.hidden{
  display: none;
}

.h-100{
  height: 100px;
}

.h-15{
  height: 15px;
}

.h-25{
  height: 25px;
}

.h-42{
  height: 42px;
}

.h-50{
  height: 50px;
}

.h-85{
  height: 85px;
}

.h-fit{
  height: -moz-fit-content;
  height: fit-content;
}

.h-full{
  height: 100%;
}

.w-15{
  width: 15px;
}

.w-185{
  width: 185px;
}

.w-25{
  width: 25px;
}

.w-75{
  width: 75px;
}

.w-85{
  width: 85px;
}

.w-\[72vw\]{
  width: 72vw;
}

.w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.w-full{
  width: 100%;
}

.min-w-25{
  min-width: 25px;
}

.flex-grow{
  flex-grow: 1;
}

.cursor-pointer{
  cursor: pointer;
}

.resize-none{
  resize: none;
}

.resize{
  resize: both;
}

.grid-cols-12{
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-rows-\[80px_80px\]{
  grid-template-rows: 80px 80px;
}

.flex-col{
  flex-direction: column;
}

.items-start{
  align-items: flex-start;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

.gap-20{
  gap: 20px;
}

.gap-30{
  gap: 30px;
}

.gap-5{
  gap: 5px;
}

.gap-50{
  gap: 50px;
}

.gap-x-18{
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.gap-x-30{
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.gap-x-5{
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.gap-y-10{
  row-gap: 10px;
}

.gap-y-15{
  row-gap: 15px;
}

.gap-y-35{
  row-gap: 35px;
}

.scroll-smooth{
  scroll-behavior: smooth;
}

.rounded-5{
  border-radius: 5px;
}

.rounded-full{
  border-radius: 9999px;
}

.bg-\[\#00000000\]{
  background-color: #00000000;
}

.bg-bg{
  --tw-bg-opacity: 1;
  background-color: rgb(45 58 66 / var(--tw-bg-opacity));
}

.fill-current{
  fill: currentColor;
}

.p-10{
  padding: 10px;
}

.p-20{
  padding: 20px;
}

.px-10{
  padding-left: 10px;
  padding-right: 10px;
}

.px-15{
  padding-left: 15px;
  padding-right: 15px;
}

.px-container{
  padding-left: max(15px, calc((100vw - 1170px)/2));
  padding-right: max(15px, calc((100vw - 1170px)/2));
}

.py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-30{
  padding-top: 30px;
  padding-bottom: 30px;
}

.pr-container{
  padding-right: max(15px, calc((100vw - 1170px)/2));
}

.pt-0{
  padding-top: 0px;
}

.pt-20{
  padding-top: 20px;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.font-inter{
  font-family: 'Inter', serif;
}

.text-a{
  font-size: clamp(1rem, 0.477rem + 1.364vw, 1.5rem);
}

.text-input{
  font-size: clamp(0.75rem, 0.659rem + 0.455vw, 1rem);
}

.font-bold{
  font-weight: 700;
}

.text-accent{
  --tw-text-opacity: 1;
  color: rgb(227 113 169 / var(--tw-text-opacity));
}

.text-inert{
  --tw-text-opacity: 1;
  color: rgb(69 70 72 / var(--tw-text-opacity));
}

.text-main{
  --tw-text-opacity: 1;
  color: rgb(241 242 243 / var(--tw-text-opacity));
}

.text-inherit{
  color: inherit;
}

.opacity-0{
  opacity: 0;
}

.opacity-30{
  opacity: 0.3;
}

.outline{
  outline-style: solid;
}

.outline-1{
  outline-width: 1px;
}

.outline-2{
  outline-width: 2px;
}

.outline-accent{
  outline-color: #E371A9;
}

.outline-main{
  outline-color: #F1F2F3;
}

.backdrop-blur-sm{
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.duration-300{
  transition-duration: 300ms;
}

.before\:block::before{
  content: var(--tw-content);
  display: block;
}

.before\:h-15::before{
  content: var(--tw-content);
  height: 15px;
}

.before\:w-15::before{
  content: var(--tw-content);
  width: 15px;
}

.before\:bg-checkbox::before{
  content: var(--tw-content);
  background-image: url('../img/icon-radio-default.svg');
}

.before\:bg-cover::before{
  content: var(--tw-content);
  background-size: cover;
}

.even\:text-accent:nth-child(even){
  --tw-text-opacity: 1;
  color: rgb(227 113 169 / var(--tw-text-opacity));
}

.focus-within\:outline-2:focus-within{
  outline-width: 2px;
}

.hover\:text-accent:hover{
  --tw-text-opacity: 1;
  color: rgb(227 113 169 / var(--tw-text-opacity));
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.active\:text-accent:active{
  --tw-text-opacity: 1;
  color: rgb(227 113 169 / var(--tw-text-opacity));
}

.active\:text-main:active{
  --tw-text-opacity: 1;
  color: rgb(241 242 243 / var(--tw-text-opacity));
}

.has-\[\:first-child\:checked\]\:before\:bg-checkedbox:has(:first-child:checked)::before{
  content: var(--tw-content);
  background-image: url('../img/icon-radio-checked.svg');
}

@media (min-width: 768px){
  .tablet\:static{
    position: static;
  }

  .tablet\:left-0{
    left: 0px;
  }

  .tablet\:top-0{
    top: 0px;
  }

  .tablet\:z-0{
    z-index: 0;
  }

  .tablet\:-order-2{
    order: -2;
  }

  .tablet\:order-1{
    order: 1;
  }

  .tablet\:col-span-1{
    grid-column: span 1 / span 1;
  }

  .tablet\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .tablet\:col-span-3{
    grid-column: span 3 / span 3;
  }

  .tablet\:col-start-3{
    grid-column-start: 3;
  }

  .tablet\:row-span-2{
    grid-row: span 2 / span 2;
  }

  .tablet\:row-start-1{
    grid-row-start: 1;
  }

  .tablet\:mb-50{
    margin-bottom: 50px;
  }

  .tablet\:mt-30{
    margin-top: 30px;
  }

  .tablet\:block{
    display: block;
  }

  .tablet\:grid{
    display: grid;
  }

  .tablet\:h-30{
    height: 30px;
  }

  .tablet\:h-42{
    height: 42px;
  }

  .tablet\:h-60{
    height: 60px;
  }

  .tablet\:h-full{
    height: 100%;
  }

  .tablet\:w-125{
    width: 125px;
  }

  .tablet\:w-30{
    width: 30px;
  }

  .tablet\:w-\[50vw\]{
    width: 50vw;
  }

  .tablet\:w-\[70vw\]{
    width: 70vw;
  }

  .tablet\:w-fit{
    width: -moz-fit-content;
    width: fit-content;
  }

  .tablet\:w-full{
    width: 100%;
  }

  .tablet\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .tablet\:grid-rows-\[110px_70px\]{
    grid-template-rows: 110px 70px;
  }

  .tablet\:items-start{
    align-items: flex-start;
  }

  .tablet\:items-end{
    align-items: flex-end;
  }

  .tablet\:items-center{
    align-items: center;
  }

  .tablet\:justify-end{
    justify-content: flex-end;
  }

  .tablet\:gap-100{
    gap: 100px;
  }

  .tablet\:gap-20{
    gap: 20px;
  }

  .tablet\:gap-75{
    gap: 75px;
  }

  .tablet\:px-25{
    padding-left: 25px;
    padding-right: 25px;
  }

  .tablet\:px-5{
    padding-left: 5px;
    padding-right: 5px;
  }

  .tablet\:py-10{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .tablet\:py-35{
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .tablet\:py-50{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .tablet\:opacity-100{
    opacity: 1;
  }

  .tablet\:before\:h-25::before{
    content: var(--tw-content);
    height: 25px;
  }

  .tablet\:before\:w-25::before{
    content: var(--tw-content);
    width: 25px;
  }

  .tablet\:hover\:text-accent:hover{
    --tw-text-opacity: 1;
    color: rgb(227 113 169 / var(--tw-text-opacity));
  }

  .tablet\:active\:text-main:active{
    --tw-text-opacity: 1;
    color: rgb(241 242 243 / var(--tw-text-opacity));
  }
}

@media (min-width: 1200px){
  .desktop\:-order-1{
    order: -1;
  }

  .desktop\:order-none{
    order: 0;
  }

  .desktop\:col-span-1{
    grid-column: span 1 / span 1;
  }

  .desktop\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .desktop\:col-span-3{
    grid-column: span 3 / span 3;
  }

  .desktop\:col-span-4{
    grid-column: span 4 / span 4;
  }

  .desktop\:col-span-5{
    grid-column: span 5 / span 5;
  }

  .desktop\:mb-150{
    margin-bottom: 150px;
  }

  .desktop\:mt-50{
    margin-top: 50px;
  }

  .desktop\:flex{
    display: flex;
  }

  .desktop\:grid{
    display: grid;
  }

  .desktop\:hidden{
    display: none;
  }

  .desktop\:h-100{
    height: 100px;
  }

  .desktop\:h-33{
    height: 33px;
  }

  .desktop\:h-70{
    height: 70px;
  }

  .desktop\:w-33{
    width: 33px;
  }

  .desktop\:w-full{
    width: 100%;
  }

  .desktop\:grid-cols-12{
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .desktop\:grid-cols-5{
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .desktop\:grid-rows-\[140px_90px\]{
    grid-template-rows: 140px 90px;
  }

  .desktop\:flex-row{
    flex-direction: row;
  }

  .desktop\:items-center{
    align-items: center;
  }

  .desktop\:justify-start{
    justify-content: flex-start;
  }

  .desktop\:justify-end{
    justify-content: flex-end;
  }

  .desktop\:gap-200{
    gap: 200px;
  }

  .desktop\:gap-25{
    gap: 25px;
  }

  .desktop\:gap-x-10{
    -moz-column-gap: 10px;
         column-gap: 10px;
  }

  .desktop\:gap-x-30{
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .desktop\:px-20{
    padding-left: 20px;
    padding-right: 20px;
  }

  .desktop\:py-25{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .desktop\:py-50{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .desktop\:hover\:text-accent:hover{
    --tw-text-opacity: 1;
    color: rgb(227 113 169 / var(--tw-text-opacity));
  }

  .desktop\:active\:text-main:active{
    --tw-text-opacity: 1;
    color: rgb(241 242 243 / var(--tw-text-opacity));
  }
}
